%blockquote.epigraph
  .quote
    Dating is a form of human courtship consisting of social activities done by two persons with the aim of each assessing the other's suitability as a partner in an intimate relationship or as a spouse.
  .source
    Википедия

%p.warning
  Все нижеописанное — личное мнение автора, которое может не совпадать в вашим. 

%p
  Мое знакомство с дейтингами (а конкретно, с Мамбой) началось в августe 2010 года.
  Я немного обжился в новом городе и передо мною стал выбор: дать сколлапсировать моему кругу
  знакомств до размеров общения с коллегами по работе, либо расширить его за счет новых знакомств
  за пределами офисного пространства.

%p
  Выбрав второй вариант, я обратил свой взор на социальные сети. Однако, моя давняя неприязнь к Фейсбуку и прочим Вконтактам (которая, впрочем, не мешает мне программировать приложения для этих сетей),
  не позволила мне завести там аккаунт («светить дырками на жопе» — называют это некоторые мои знакомые анонимусы).
  Поэтому кривая тропа поиска собеседника (для начала) противоположного пола привела меня на Мамбу.

%p
  Я вбил урл в адресную строку и с предвкушением стал изучать этот волнующий ресурс.
  Незабываемое впечатление. Я понял, что все это время жил в каком-то своем измерении. Наверное такой же шок был у Маугли или у Тарзана,
  когда они попали в цивилизованный мир, правда, мой шок тождественен их шоку с противоположным знаком.
  Люди — неплохие животные, в общем-то, многих из них я сильно люблю или уважаю, но первое впечатление от посетителей Мамбы сильно пошатнуло позиции человечества в моих глазах.

%p
  Скромность, вежливость, адекватность, широкий круг интересов — все это либо неизвестно на Мамбе вообще, либо активно скрывается ее завсегдатаями.
  Про орфографические ошибки я вообще молчу, это за гранью добра и зла. В споре «Кто круче предскажет будущее», Хаксли бы забил Оруэла как ребенка, указав ему только урл на Мамбу.
  Я не шучу, такого неприкрытого блядства я не видел нигде.

%p
  Конечно, сама суть дейтингов определяет вполне конкретные цели для посетителей — знакомства,
  и ханжествовать по этому поводу — тупо. Однако, сами способы знакомств ввергли меня в пучину уныния.

%h2
  Cherchez la femme

%p
  Итак, моя очевидная цель состояла в том, что бы найти девушку — это тонкое, нежное и немного таинственное создание с парочкой X-хромосом.
  Не скажу, что поиски совсем увенчались провалом, нет, я даже приноровился и несколько поднаторел в нелегком деле сортировки судеб:
  здоровая доля цинизма, набор несложных критериев и, пользуясь интерфейсом поиска Мамбы и парочкой простеньких скриптов на Руби, можно вполне найти нормальных девушек.
  В конце данного опуса я даже попытаюсь вывести их процентное соотношение к остальной, с вашего позволения, массе посетительниц.

%p
  Постараюсь кратко пройтись по основным типажам прекрасных представительниц вида Homo Sapiens (Человек Разумный, это вам не хрен собачий!).
  Хотелось бы отметить, что ниженаписанное
  %b не является
  криком души обиженного на жизнь и отвергнутого неудачника. Крайне надеюсь, что дальнейшее будет восприниматься с
  пониманием и юмором, а не служить поводом дать мне в рожу или подпалить мою квартиру.

%p
  %b Некрасивые девушки.
  Этих девушек мне очень жалко, ведь эти люди не виноваты, что родились такими. Безжалостные инстинкты, сохранявшие наш вид сотнями тысяч
  лет, помноженные на культурные стереотипы красоты оставляют им не очень много шансов найти свою половину.
  Я сам, наверное, не блещу красотой, поэтому, с какой-то стороны, их позиция мне близка.
  Хотя, в общем случае, мужская красота не стоит на первом месте при выборе партнера женщиной,
  что несколько повышает мои шансы.

%p
  Про эту группу я могу сказать достаточно немного. Некоторые из них хорошие собеседники, невеселая жизнь многому их научила.
  Однако, как бы это не жестоко звучало, я не готов связать жизнь с такими женщинами. Мне не хочется иметь детей с недостатками внешности.
  Принимая справедливое возмущение и волну ненависти в свой адрес, я предлагаю и вам подумать, готовы ли вы жить с человеком с врожденными проблемами?
  Писать эти слова мне было не легко, но какой смысл скрывать от себя свои цели и прятать за условностями отговорок истинные
  причинно-следственные связи. Предлагаю перейти к следующей группе.

%blockquote.epigraph
  .quote
    Приветик потеряла парня мну оч плохо нужен новый срочно!!!!!!!!
  .source
    Орфография авторская

%p
  %b Простые девочки.
  Возможно, я придираюсь. Возможно, у меня какие-то дурацкие критерии из Страны Эльфов. Возможно, это просто такой возраст.
  Скорее всего, я что-то упустил в своем детстве и просто завидую свободе этих людей. Вероятно, я просто слабак и поэтому пункт анкеты
  «Хочу секса каждый день» (правда, не уточняя, с одни и тем же ли партнером) вызывают
  удивление у моего организма. Наверное, я веду себя как чопорный старпер. Не знаю.

%p
  Постоянный круговорот тусовок, встреч-расставаний,
  коварных предательств, скандалов и интриг, тонны сообщений в базах данных IM и соцсетей, жизнь сегодняшним днем — есть в этом что-то
  притягательно-декаденстское. Но не для меня.

%p
  Девушек из этой группы вычислить очень просто, основные критерии это:

  %ul
    %li
      Фотографии. Возможны варианты: жеманная поза, очки на пол-лица, неестественный загар (по меткому выражению одного товарища — «рожа-морковка»), либо комбинация этих признаков;
    %li
      Пустые анкеты. Зачем заполнять анкету, если основной критерий выбора — внешность? Светить своим богатым внутренним миром — моветон;
    %li
      Иногда пишут либо имя и фамилию полностью, либо используют в имени различные символы других алфавитов, например, арабского, дозволенные юникодом;
    %li
      Орфография и пунктуация. Совесть запрещает мне комментировать этот пункт, ибо мне нужно быть более толерантным.

%p
  При разговоре с ними (если контакт состоялся), они искренне удивляются, что ты начинаешь общение с банального (по их мнению) «Привет»
  (это при пустой-то анкете!), а на твои попытки пошутить — обижаются (я сделал вывод, что они просто не понимают
  большей части моих шуток — сокрушительный удар по самолюбию автора!). Лично я пока не до такой степени отчаялся найти близкого
  человека, что бы тратить свое и их время на попытки завязать диалог и найти что-то общее. Хотя, возможно, с точки зрения социального эксперимента,
  это и представляет собой интерес.

%p
  Обычно эту группу даже не смущают явные противоречия в анкете:
  «Религия: «Христианство» и «Жизненные приоритеты: «Максимум секса» (характерный пример) лично в моей атеистической голове вызывают диссонанс.
  Хотя, возможно, я знаю о христианстве гораздо больше, чем те, кто декларирует принадлежность к этому вероисповеданию. Либо на Мамбе существует
  какая-то экстремальная про-христианская секта, кто знает?
  Продолжим.

%blockquote.epigraph
  .quote
    Тепла, как солнце, холодна, как ветер
    %br
    Ну прямо вся такая-растакая
    %br
    Еще меня никто не понимает
    %br
    (А этот стишок я нашла в Интернете)
  .source
    Примерное содержание блока «О себе»


%p
  %b Духовно богатые девы.
  Не берусь тягаться с коллективным луркморовским анонимусом и поэтому хочу отметить, что алчущий знаний обрящет там гораздо более
  полную характеристику сих дам, просто набрав сочетание
  %i ТП
  в любимом поисковике. Я же кратко пробегусь по отличительным особенностям, характерным для Мамбы.

%p
  Девушки с претензией на интеллектуальность. Критерии (менее ярко выраженные, они же могут частично или полностью совпадать и с нормальными людьми):

  %ul
    %li
      Экзотические интересы. Какой-нибудь Нью-эйдж или огнепоклонничество в религии, Тибет в разделе любимых мест, йога (обязательно!);
    %li
      Дождь и кофе (как вариант: матэ). Это должно быть непременно, если этого нет в разделе «О себе», значит они скрываются где-то в другом месте анкеты;
    %li
      Копипаста, копипаста everywhere! Тонны скопированных стишков, остроумных (по мнению девы) текстов, глубокомысленных
      демотиваторов;
    %li
      Книги. Буду краток: Коэльо и Ремарк. Если к графоманским псевдофилософским
      %strike высерам
      опусам первого я отношусь с отвращением, то наличие в списке «Любимок» второго вызывает у меня недоумение.
      Неужели люди, способные понять и оценить Ремарка, будут писать такую туфтень в беседах?

%p
  В целом, дамы этой группы чуть-чуть интереснее простых девочек в общении. Но, как правило, общение с ними у меня заканчивается на
  тех же стадиях, что и с прошлой группой участниц поиска Того Самого Принца. Однако, дамы из это группы ведут себя гораздо более
  агрессивно при разрешении конфликтов. Если простая девочка напишет просто: «игнор», то духовно богатая дама зачастую усладит твой взор еще и
  трехэтажными словесами и всевозможными проклятиями. Иногда, в зависимости от итогов содержательного диалога, дама может присовокупить угрозу пожаловаться
  в абуз-тим. Каюсь, некоторое время я развлекался троллингом таких девушек, мерзавец этакий! Но я больше не буду, честно!

%p.total
  Что-то я немного подустал, в общем,
  %i
    = link_to 'продолжение следует', '/post/more_about_datings'
  …
