%p
  Привет. Это первая и, надеюсь, не последняя запись в этом блоге.
  Пока тут достаточно пустынно, но я постараюсь потихоньку прикрутить все интересные шутки, которые в полуразобранном
  состоянии валяются по веткам моей системы контроля версий.
%p
  Это будет уже третий по счету блог, который я собираюсь вести, надеюсь, его не постигнет участь двух предыдущих.
  Не совсем уверен, что понимаю, для кого я это все пишу. Хотя, вариант «Для себя» вполне жизнеспособен, хай застаецца в качестве рабочего.

%p
  Наконец нашел свободное время для допиливания до вменяемого состояния движка сего сайта,
  при написании руководствовался исключительно
  = link_to 'KISS', 'http://en.wikipedia.org/wiki/KISS_principle'
  поэтому тут
  %strike
    почти нихрена нет
  все очень минималистично. Зато работает.

%p
  В ближайших планах: небольшой редизайн, причесывание кода, прикручивание комментариев (буду сам с собой общаться,
  видимо) и добавление нескольких забавных, на мой взгляд, идей. Планирую дописать и выложить несколько технических
  статей из зимних еще черновиков, ну и, конечно же, извести чистенькие кластеры серверной файловой системы на скучный лытдыбр и монологи
  самому себе.

%p
  Ну, с почином меня!
