%blockquote.epigraph
  .quote
    Well, I'm not superstitious
    %br
    But there's something going on inside
    %br
    Could be friendly, could be vicious
    %br
    And there isn't any place to hide

  .source
    Uriah Heep — Lifeline

%blockquote.epigraph
  .quote
    Людей неинтересных в мире нет.
    %br
    Их судьбы — как истории планет.

  .source
    Евгений Евтушенко


%p
  Как-то у меня мелькнула идея: «А что, если представить события человеческой жизни в виде записей в
  системе контроля версий, с ее ветками, слияниями, делениями и прочими
  аспектами коллективной разработки программ?»

%p
  Если бы этот мир незаметно захватили параноидальные роботы, которые бы логировали и анализировали
  каждый поступок каждого человека, а потом свели бы все это в одну супердиаграмму — наверняка
  анализ собственных поступков внутри системы «Человечество» был бы шокирующим.
  Довольно интересно было бы наблюдать, каким причудливым образом переплетаются линии
  разных людей, какие незначительные мелочи ведут к значительным переворотам.

%p
  Жаль, но таких роботов нет.

%p
  Далее могли бы быть банальные фразы о том, сколько судеб и событий переплетаются с
  жизнью каждого человека; возвышенные рассуждения о том, как любой человек воспринимает
  свою собственную жизнь (несомненно очень важную для него, даже если этот человек и не
  считает себя эгоцентристом) аки центральный ствол дерева —
  %i master branch;
  заумь философских измышлений о квантовых мультивселенных, порождаемых каждым действием над
  вариантами событий и плодящим бесконечные миры —
  %i
    forks…
  Этого сейчас не будет, можно расслабиться.

%p
  Раз мою жизнь не записывает какой-нибудь разумный тостер, я сделаю это сам :3

%p
  От идеи до реализации прошло около двух лет, ну и ладно. Я постараюсь со
  временем собрать более-менее детальную историю одного представителя вида Homo Sapiens,
  с большего объективную (насколько этот термин вообще применим к автобиографии), но,
  вероятно, без очень личных подробностей. Получилось, на мой взгляд, неплохо. Мне кажется,
  что удалось совместить простоту и наглядность. В качестве эксперимента, по примеру
  популярного ныне Твиттера, я постараюсь быть лаконичным в описаниях.

%p
  Пока что я описал не так уж много событий. Все они доступны в разделе
  = link_to 'The Life line', '/lifeline'
  , о крупных обновлениях я буду сообщать в ленте на главной странице.

