%p
  Продолжаю
  =link_to 'ранее начатую', '/post/about_datings'
  тему, посвященную русскоязычным дейтингам. Кроме желания поделиться своими наблюдениями, мною, так же, движет интерес иного свойства:
  «Каким образом я буду воспринимать сей текст через год, два, пять etc? Изменится ли что-то в моих взглядах?».
  Учитывая прошлый опыт, я не рискну прогнозировать.

%p
  Если тему предыдущей записи я рассматриваю скорее как повод иронизировать над странностями людей (а может и над своей странностью),
  то текущая заметка сильно испортила мне настроение некоторыми воспоминаниями (Shape of Despair в перемешку с Крисом Ри во время ночных одиноких прогулок — замечательное тому доказательство).
  Уже одно это является хорошим поводом написать полностью этот пост, пускай он будет лакмусовой бумажкой для меня и в будущем, что бы не расслаблялся.

%p.warning
  Напоминаю, что все мысли в этом блоге — личное мнение автора, которое может
  не совпадать в вашим мнением. При сильных несовпадениях во мнениях, вызывающих приступы бешенства, пожалуйста, нажмите Ctrl+W.

%p
  %b Проститутки.
  С представительницами этой группы девушек мне довелось общаться два раза (в текстовом виде и вне Мамбы). Я надеюсь, общение
  было обоюдоинтересным, по крайней мере, я поменял свою точку зрения с «отвращенного неприятия» на «молчаливое понимание».
  Обе начали «карьеру» не от хорошей жизни. Были ли у них другие варианты заработка? Мне кажется, были. Жалеют ли они?
  Наверное, да. Понятия не имею, что с каждой из них стало сейчас.

%p
  Не знаю, что общего у них с девушкам, которые открыто предлагают
  услуги на Мамбе. Обмен одноразового секса на деньги выглядит достаточно прагматично, есть спрос, есть предложение, все
  довольны. Не хочу затрагивать темы «морали и закона», ну их к черту, эти полиморфные абстрактные «как надо правильно жить!!111».

%p
  Я понимаю этих девушек и не испытываю к ним неприязнь, но пользоваться их услугами не собираюсь. Надеюсь, мир проституток и мой
  мир будут параллельными и дальше. Опознать анкету проститутки не сложно:

  %ul
    %li
      Помечена в системе как «Оказываю интимные услуги за деньги»;
    %li
      Выставлен возраст знакомств от 21 до 99 лет;
    %li
      Есть фото в обнаженном виде;
    %li
      Часто, в анкете прямым текстом написано: «Халявы нет. Беру только валюту. Я работаю, на
      %i просто поболтать
      нет времени».

%p
  Предельно честно с их стороны, спасибо.

%p
  %b Содержанки.
  Еще одна категория, с которой я предпочитаю не сталкиваться. Этакие гетеры на современный лад (не знаком с настоящими гетерами из древности, сравнить не могу, увы).
  Исходя из небогатого опыта, могу вывести только одну закономерность: те, кто пострашнее, не брезгуют и виртуальными подарками, те, кто покрасивее, предпочитают
  материальные. Содержанки — девушки, очень рационально выбирающие эволюционно беспроигрышную стратегию. Они четко понимают, что
  разум и сознание — всего лишь генетическо-культурная надстройка над инстинктами. Непонаслышке знакомые с направляюще-стабилизирующим
  отбором самками самцов, при половом способое размножения; максимизирующие шансы на распространение своих генов в популяции,
  эти девушки вызывают у меня смешанные восхищение и зависть. Пишу эти строчки без тени ехидства, честное слово.

%p
  Найти такую девушку однозначно просто: VIP-аккаунт, с надписями «Без комплимента не отвечаю» (выдает новенькую), «Свою половинку я уже нашла, тут я просто для общения» или «Только для состоятельных мужчин».
  Комментировать не хочу, оставляю выводы на совести читателя. Все же, надеюсь, мне никогда не прийдется покупать чье-то общество.

%p
  %b Переборщицы.
  Жертвы теории вероятностей, разбалованные мнимым разнообразием и простотой заведения знакомств на дейтингах.
  Наверное, им кажется, что если очень упорно продолжать поиски, то можно обязательно найти свой идеал. Возможно, так оно
  и есть в бесконечно идеальной вселенной. Что-то мне подсказывает, что в этой вселенной Солнце исчерпает весь свой водород и уничтожит Землю намного раньше, чем каждая из
  девушек найдет своего Суженого.

%p
  В принципе, девушки из этой группы вполне неплохие, просто они заменили однорукого бандита дейтингами, ведомые призрачным
  «в следующий раз мне обязательно повезет и я сорву банк» они месяцами торчат на сайте. Как и в казино, ставки высоки, вроде бы
  за мизерную плату (денег ли, времени) можно получить хороший куш, в теории.

%p
  Я удалял свою анкету два раза, повторно регистрировался в ноябре-декабре 2010го и в конце апреля 2011го до сего момента (на дату написания поста)
  и все еще встречаются некоторые из девушек, которых я видел в августе прошлого года. «Ба, знакомые все лица!».

%p
  Характерные признаки:
  %ul
    %li
      В анкете по пунктам расписано, каким именно должен быть идеальный партнер. Ироничный читатель анкеты непременно
      улыбнется от того, что описание требуемых качеств принца занимает львиную долю, если не весь целиком блок «О себе».
      О себе переборщица может и не написать;

    %li
      Обижаются, когда начинаешь легко троллить (не злоблы ради, а намека на двойные стандарты для): в ответ на требования
      в анкете (вроде: «мой идеал должен быть ростом выше 175см, длинные волосы, нордическая внешность») почему-то не все
      хотят отвечать на вопросы о точных характеристиках в ответ;

    %li
      Очень любят писать «Я — для Единственного» или «Только для Него». Звучит прекрасно, если не знать, что за словами
      верности скрывается придуманный девушкой шаблон человека, возможно, имеющий с реальностью не так много общего;

    %li
      Могут прийти на первую встречу, пообщаться, потом пропасть куда-то, на сообщения не отвечать,
      через неделю-другую вдруг возобновить контакт, выдумывая что-то вроде «я была очень занята / заболела бабушка /
      не было интернета / много работы или учебы» при этом, на протяжении всего этого времени быть онлайн на Мамбе.

%p
  Прекрасно понимаю, что такой человек как я, скорее всего, понравится на первой встрече исчезающе малому проценту
  людей. И я не считаю, что кто-то мне обязан докладывать результаты нашей встречи или даже вообще продолжать со мной общение
  только потому, что смотрел мне в глаза при разговоре в реальности. Однако, я, как и любой другой человек, не хочу
  быть запасным вариантом, на случай, если остальные подходят еще меньше.

%p
  Во-первых, на своем опыте я уже знаю, что когда вот так вот вдруг человек «пропадает» для меня, то, очень вероятно,
  он занят поиском других кандидатов на «длительные отношения», более подходящих под шаблон идеала. Если он возвращается,
  значит — ничего не нашел. Пока не нашел. Потому что

%p
  во-вторых, даже если он и вернется, отношения просуществуют до первого нахождения девушкой более подходящего ей мужчины.
  Как я уже писал, на некоторых таких девушек я все еще натыкаюсь.

%p
  «— Не нашли еще Принца, — подумал Штирлиц. — Сам дурак! — подумали девушки.»

%p
  Некоторых из них я понимаю, других нет, особенно тех, которые надеются перебором найти идеал, при этом из основных
  достижений в своей собственной жизни — статус старожила на Мамбе.

%p
  %b Нормальные девушки.
  Люди со своими недостатками и достоинствами. Приходят на дейтниги зачастую от одиночества и неспособности найти в
  своем кругу общения близкого человека. Я встретил всего двух, за то время, что я потратил на Мамбу. По крайней мере, мне так кажется.

%p
  Читатель мог несколько раз за время чтения справедливо заметить, а чего же автор продолжает и сам сидеть на дейтинге-то?

%p
  С двумя девушками, из-за которых я удалял аккаунт, отношения развивались нормально (на мой дилетантский взгляд).
  Одна пропала внезапно, просто перестав отвечать на телефон и IM. Было обидно понимать, что я настолько плохой, что даже
  недостоин пояснения причин.

%p
  Вторая написала «давай будем друзьями», спасибо ей за это (без иронии, могла ведь тоже исчезнуть). Не очень приятно «быть другом» с девушкой, с которой
  хотел просто быть.

%p
  В обоих случаях я понимаю, что дело во мне, но что конкретно нужно подправить в консерватории, я не знаю. Буду стараться
  исправить все, до чего дотянусь, раз такое дело.

%p.total
  Ну вот и все, что я хотел написать по этой теме. Надеюсь, я никого не обидел, иначе — прошу прощения.
  Не стоит забывать, что эти две записи, конечно же, написаны не про вас, а про меня. Не ожидал, честно говоря, что в процессе
  написания заметки так испортится настроение. Возможно, это из-за дождливой погоды.
